<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ma Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- <p> {{ productToAdd }} </p> -->

  <ion-item>
    <!-- (keyup) Quand la touche se relève (quand on enlève notre gros doigt du clavier) -->
    <!-- (keydown) Quand la touche s'enfonce (quand on met notre gros doigt sur le clavier) -->
    <!-- (keyup.NomTouche) Pour déclencher un évènement sur cette touche en particulier, ici avec (keyup.Enter) quand on va appuyer sur entrée, va déclencer la méthode add -->
    <!-- (keypress) Quand une touche est appuyée : attention, vous ne pouvez pas préciser la touche -->
    <ion-input placeholder="Nom Produit" [(ngModel)]="productToAdd" (keyup.Enter)="add()"></ion-input>
    <ion-button size="medium" (click)="add()">
        <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Ma liste de courses :</ion-label>  
    </ion-list-header>

    <ion-item *ngFor="let product of productList" (click)="openActionSheet(product)">
      <ion-label> {{ product.name }} </ion-label>
      <ion-icon *ngIf="product.isChecked" name="checkbox-outline" color="primary"></ion-icon>
      <ion-icon *ngIf="!product.isChecked" name="square-outline" color="primary"></ion-icon>
    </ion-item>
   
  </ion-list>

</ion-content>
